@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html,body{
    height: 100%;
    width: 100%;
    font-family: 'Roboto',sans-serif;
}

.button{
    padding: 20px;
    margin :0 3px;
    border:2px solid white;
    border-radius: 10px;
    cursor: pointer;
}

.row{
    margin:10px 0
}

.row input{
    font-size: 18px;
    margin:0;
    padding:10px 10px;
    border: 2px solid white;
    border-radius: 10px;
}


.new-row button{
    padding:16px;
}